<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dynamic Templating</title>
</head>

<body>

  <h1>Hello {{name}}</h1>

  {{#if bool}}
  <h4>1</h4>
  {{else}}
  <h4>0</h4>
  {{/if}}

  {{#unless name}}
  <h5>You didn't provide a name...</h5>
  {{/unless}}

</body>

</html>